* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #000000;
  font-family: 'Orbitron', sans-serif;
  color: #ff0000;
  font-size: 1em; }

.container1 .navMain .navMain__div .navMain__img {
  width: 50px;
  border-radius: 4px; }

.container1 .navMain .navMain__div .span__a {
  padding: 4px;
  background-color: #ff0000;
  border-radius: 4px; }

.container1 .navMain .navMain__div .navMain__a {
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase; }
  .container1 .navMain .navMain__div .navMain__a .nav-link {
    color: #ff0000; }
  .container1 .navMain .navMain__div .navMain__a:hover {
    border-bottom: 3px solid #ff0000; }

.titulos {
  text-align: center;
  padding-top: 10vh;
  letter-spacing: 10px; }

.main-pagos .main-pagos__p {
  text-align: center;
  padding-top: 40px; }

.main-pagos .main-pagos__img {
  border-radius: 4px;
  margin: 10vh 0 10vh 40vw; }

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0000;
  margin-top: 5%; }
  .boxes .container2 {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    font-weight: bolder; }
    .boxes .container2 .card {
      position: relative;
      max-width: 300px;
      height: 200px;
      background: #3d0000;
      margin: 30px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out; }
      .boxes .container2 .card:hover {
        height: 260px; }
        .boxes .container2 .card:hover .content {
          visibility: visible;
          opacity: 1;
          margin-top: -40px;
          transition-delay: 0.3s; }
      .boxes .container2 .card .imgbx {
        position: relative;
        width: 260px;
        height: 140px;
        top: -60px;
        left: 20px;
        z-index: 1; }
        .boxes .container2 .card .imgbx img {
          max-width: 90%;
          border-radius: 4px;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
      .boxes .container2 .card .content {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out; }

.prod__cont h2 {
  color: #000000;
  background: #ff0000; }

.prod__cont img {
  width: 50%; }

.prod__cont .prod__pcs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh 0 10vh 0; }
  .prod__cont .prod__pcs .box__prod {
    box-sizing: border-box;
    padding: 30px; }
    .prod__cont .prod__pcs .box__prod img {
      display: block;
      margin: auto; }
    .prod__cont .prod__pcs .box__prod p {
      text-align: center; }

.prod__cont .prod__note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh 0 10vh 0; }
  .prod__cont .prod__note .box__prod {
    box-sizing: border-box;
    padding: 30px; }
    .prod__cont .prod__note .box__prod img {
      display: block;
      margin: auto; }
    .prod__cont .prod__note .box__prod p {
      text-align: center; }

.prod__cont .prod__acc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh 0 10vh 0; }
  .prod__cont .prod__acc .box__prod {
    box-sizing: border-box;
    padding: 30px; }
    .prod__cont .prod__acc .box__prod img {
      display: block;
      margin: auto; }
    .prod__cont .prod__acc .box__prod p {
      text-align: center; }

.redes {
  width: 100%;
  background: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15vh 0 0 0; }
  .redes .facebook {
    margin: 10px 0 10px 30px;
    color: #000000; }
  .redes .instagram {
    margin: 10px 0 10px 30px;
    color: #000000; }
  .redes .twitter {
    margin: 10px 0 10px 30px;
    color: #000000; }
  .redes .whatsapp {
    margin: 10px 0 10px 30px;
    color: #000000; }
  .redes .discord {
    margin: 10px 30px 10px 0;
    color: #000000; }

.formmulario__footer {
  margin-top: 10vh; }
  .formmulario__footer form {
    margin-left: 10vh;
    width: 50%; }
    .formmulario__footer form label {
      color: #ff0000; }
    .formmulario__footer form .btn {
      background: #ff0000;
      color: #000000; }

#foot-n {
  text-align: center;
  padding-top: 4rem;
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  color: text;
  margin-bottom: 4rem; }

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease; }
  .btn-wsp .btn-wsp:hover {
    background: #20ba5a; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px; } }
