.destacados {
    text-align: center;
    padding-top: 10vh;
    letter-spacing: 10px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorbg;
    margin-top: 5%;

    .container2 {
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        font-weight: bolder;

        .card {
            position: relative;
            max-width: 300px;
            height: 200px;
            background: #3d0000;
            margin: 30px 10px;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 20px rgba(0,0,0,0.5);
            transition: 0.3s ease-in-out;

            &:hover {
                height: 260px;

                .content {
                    visibility: visible;
                    opacity: 1;
                    margin-top: -40px;
                    transition-delay: 0.3s;
                }
            }

            .imgbx {
                position: relative;
                width: 260px;
                height: 140px;
                top: -60px;
                left: 20px;
                z-index: 1;

                img {
                    max-width: 90%;
                    border-radius: 4px;
                }
            }

            .content {
                position: relative;
                margin-top:  -140px;
                padding: 10px 15px;
                text-align: center;
                color: $colorbg;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease-in-out;
            }
        }
    }
}