body {
  background: black;
  font-family: 'Source Code Pro', monospace;
  color: #eb2f06;
  font-size: 1em;
}

.header__h1 {
  letter-spacing: 5px;
  text-align: center;
  font-size: 4rem;
  color: #eb2f06;
  position: relative;
}

.container1 {
  width: 90%;
  margin: auto;
}

.container1 .navMain section {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 20px 0;
}

.container1 .navMain section .navMain__logo {
  width: 50px;
}

.container1 .navMain section .navMain__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container1 .navMain section .navMain__ul .navMain__a {
  color: #eb2f06;
  text-decoration: none;
  text-transform: uppercase;
}

.container1 .navMain section .navMain__ul .navMain__a:hover {
  border-bottom: 2px solid #eb2f06;
}

.container1 .navMain section .navMain__ul .navMain__li, .container1 .navMain section .navMain__ul .navMain__li--activo {
  padding: 20px;
}

.navMain__li--activo {
  font-weight: bolder;
}

.paymentMethod {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.paymentMethod .paymentMethod__p {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  font-size: 2em;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.paymentMethod .paymentMethod__p:hover {
  color: #1a466b;
  background: #4cd137;
  -webkit-box-shadow: 0 0 10px #4cd137 0 0 40px #4cd137 0 0 80px #4cd137;
          box-shadow: 0 0 10px #4cd137 0 0 40px #4cd137 0 0 80px #4cd137;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  border-radius: 6px;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  margin-top: 5%;
}

.container2 {
  position: relative;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  font-weight: bolder;
}

.container2 .card {
  position: relative;
  max-width: 300px;
  height: 200px;
  background: #34495e;
  margin: 30px 10px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* box-shadow: 0 5px 20px rgba(0,0,0,0.5); */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container2 .card:hover {
  height: 260px;
}

.container2 .card .imgbx {
  position: relative;
  width: 260px;
  height: 140px;
  top: -60px;
  left: 20px;
  z-index: 1;
}

.container2 .card .imgbx img {
  max-width: 90%;
  border-radius: 4px;
}

.container2 .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container2 .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#foot-n {
  text-align: center;
  padding-top: 4rem;
  font-family: monospace;
  font-size: 12px;
  color: #c446ee;
  margin-bottom: 4rem;
}
/*# sourceMappingURL=style.css.map */